html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#mainDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#viewDiv {
  height: 100%;
  width: 75%;
}

#listDiv {
  position: relative;
  height: 600px;
  width: 25%;
  overflow: auto;
  border: 1px solid black;
}

#listDiv * {
  box-sizing: border-box;
}

#listSpace {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}

#listContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#listLoadMore {
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.list-item {
  width: 100%;
  padding: 7px 10px 6px;
  border-bottom: 1px solid lightgray;
}

.list-item:hover {
  background-color: yellowgreen;
}

.list-item-name {
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-item-pop {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-item-geometry {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
